<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> <!--bootstrap link-->
        <style>
                .outer-container {
                background: #2B4570;
                }

                a { color: #262322; }
                a:visited { text-decoration: none; color:#262322; }
                a:hover { text-decoration: none; color:#262322; }
                a:focus { text-decoration: none; color:#262322; }
                a:hover, a:active { text-decoration: none; color:#262322 }

                .leftcolumn {
                float: left;
                width: 100%;
                font-family: 'Trebuchet MS';
                background: #4CE0D2;
                border-radius: 15px;
                padding-bottom: 20px;
                }

                .header {
                padding: 30px;
                font-size: 2.7em;
                text-align: center;
                font-family: 'Trebuchet MS';
                background: gray;
                color: #262322;
                background-image: url("https://media.discordapp.net/attachments/1078821453719404604/1079241573688160277/bird_1.png?width=1440&height=466");
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100%;
                background-position-y: 0%;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                z-index: 10;
                -webkit-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
                -moz-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
                box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
                }

                .fakeimg {
                background-color: #0F5257;
                width: 100%;
                padding: 20px;
                border-radius: 15px;
                color: #FFFBFE;
                }

                .blog-post {
                overflow-y: auto; 
                white-space: pre-wrap;
                }

                .card {
                color: #160C28;
                background-color: #22AAA1;
                padding: 20px;
                margin-top: 20px;
                color: #FFFBFE;
                font-size: 1.5em;
                }

                .row {
                margin-top: 150px;
                min-height: 90vh
                }

                .row:after {
                content: "";
                display: table;
                clear: both;
                }

                .footer {
                padding: 20px;
                text-align: center;
                background: #0F5257;
                color: #FFFBFE;
                border-radius: 15px 15px 0px 0px;
                margin-top: 20px;
                width: 100%;
                min-height: 150px;
                }

                .rightcolumn {
                display: inline-block;
                width: 25%;
                position: relative;
                left: 5%;
                }
        </style>
</head>

<body class="outer-container">
    <header>

    </header>

    <main>
            <br>
            <a href="/">
            <div class="header" >
                <h1 style="font-size: 2em; font-weight: bold; font-family: Rockwell;">Bird Blog</h1>
            </div>
            </a>
    </main>
    <br>
    <div class="container">
    <div class="row">
    <div class="leftcolumn">
        
              <div class="card">
              <h2 style="font-size: 2em"><a href="/post/<%= post._id %>">#<%= post.trend %></a></h2>
              <h4>Posted on <%= post.timestamp %></h4>
              <div class="fakeimg blog-post" style="min-height:200px; height:auto;"><%= post.content %>
              </div>
              <p>Sentiment: <%= post.sentiment %></p>
              <p>Views: <%= post.views %></p>
              <img src=<%= post.image %> style="width:100%; height:auto" alt="Flowers in Chania">
              </div>
              
    </div>
    
    </div>
    </div>
        <div class="footer">
        </div>

</body>
</html>